*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif ;
}
:root{
    --main-color: #3a6cf4;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* header */
.header{
    background-color: #f0f0f0;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.header .container h1{
    margin: 10px 0;
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 800;

}
.header .container ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
   
    
}
.header .container ul li{
    margin-left: 10px;
    
}
.header .container ul li a{
    text-decoration: none;
    font-size: 18px;
    color: var(--main-color);
    transition: 0.2s;
    
    
    
}
.header .container ul li a:hover{
    color: #4a00c9;
    border-bottom: 2px solid #4a00c9;
    
    
}
@media(max-width:480px){
    .header .container h1{
        width: 100%;
        text-align: center;
        font-size: 20px;
        margin-bottom: 0;
    }
    .header .container ul{
        margin: 0 auto 5px;
    }
    .header .container ul li a{
        font-size: 15px;
    }
}
/* main */

.main {
    padding: 60px 0 0;
    height: calc(100vh - 125px);
    /* background-color: black; */
    background-image: url('../img/background2.png');
    background-size: cover;
    background-attachment: fixed;
}
.main .container{
    margin: 10px auto;
    
}
.main .container h2{
    font-weight: 600;
    color: white;
}
@media(max-width:767px){
    .main .container h2{
       padding: 0 ;
    }
}
.main .container h1:first-of-type{
    font-size: 60px;
    color: #4E9EFF;
    margin: 10px 0;
}
.main .container .build{
    font-weight: 700;
    margin-bottom: 40px;
    color: white;
}
.main .container a{
    margin-top: 30px;
    text-decoration: none;
    background: #3A6CF4;
    padding: 20px 40px;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    
}
.main .container a:hover{
    transform: scale(1.1);
    background-color: #0044ff;
}
.main .container .social-icon{
   color: white;
}
.main .container .social-icon i{
    margin: 40px 30px 0 10px;
    font-size: 30px;

}
@media(max-width:767px){
    
}
/* services */
.services{
    /* height: 800px; */
}
.titre{
    text-align: center;
    padding: 40px 0 20px;
    color: #3a6cf4;
    font-weight: 800;
    font-size: 2.2em;
}
.card-service{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
}
.card-service .card{
    width: 350px;
    transition: 0.5s ease;
    margin: 0 30px 20px;
    box-shadow: -1px 1px 20px 0px #c3c4c4;
    border-radius: 20px;
    margin: 30px;
}
.card-service .card:hover{
    transform: scale(1.1);
    
}
.card-service .card i{
    font-size: 100px;
    color: #3a6cf4;
    margin: 60px 0;
}
.card-service .card h3{
    font-weight: 700;
    color: #3a6cf4;
    font-size: 22px;
}
.card-service .card p{
    line-height: 1.5;
    letter-spacing: 1px;
    margin: 20px;
}

/* project  */
.project{
    background-color: #000;
}
.project .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 70px auto;
}
.project .container .titre{
    width: 100%;
    text-align: center;

}
.project .container .card{
    border-radius: 20px;
    background-color: white;
    width: 350px;
    margin: 20px;
    border: 1px white solid;
    overflow: hidden;
    transition: 0.6s ease;
}
.project .container .card:hover{
    transform: scale(1.1);
}
.project .container .card img{  
   
    max-width: 100%;
}
.project .container .card p{

   font-size: 14px;
   margin: 10px;
}
.project .container .card .content{
    display: flex;
        margin: 10px 10px 20px;
        justify-content: space-between;

}
.project .container .card .content h1{
    color: #0044ff;
    font-size: 21px;
    margin: 0;
    padding: 0;
}
/* connect */
.connect{

}
.connect .container{
    margin: 100px auto;
}
.connect .container .card{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}
.connect .container .card-item{
    padding: 40px 100px;
    box-shadow: -1px 1px 20px 0px #c3c4c4;
    border-radius: 15px;
    transition: 0.7s ease;
    margin: 30px;
}
.connect .container .card-item:hover{
    transform: scale(1.1);
}
.connect .container .card-item i{
    color: var(--main-color);
    font-size: 80px;
}

.connect .container .card-item h3{
    font-weight: 800;
    font-size: 22px;
    margin: 40px 0;
}
.connect .container .card-item p{
    font-size: 1.7em;
}
/* footer */
.footer{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px ;
}
.footer .copy{

}
.footer h3{
    color: white;
}
.footer h3 span{

}
.footer .icon-social{
    
}
.footer .icon-social i{
    color: white;
    font-size: 25px;
    margin-right: 10px;

}